@media screen and (min-width: 768px) {
    #menuBar{
        width: 94%;
    }
    
}
@media screen and (min-width: 1366px) {
    #menuBar{
        width: 85%;
    }
    
}
@media screen and (min-width:1920px){
    #menuBar{
        width: 60%;
    }
}



@media screen and (max-width:991px){
    
    .card-columns{
        column-count: 2 !important;
    }
}

@media screen and (max-width:767px) {
    .card-columns{
        column-count: 1 !important;
    }
    .landing-page{
        // left: 25px !important;
        .md-jc{
            justify-content: center;
        }
        justify-content: center;
        &--left{
            img{
                width: 98% !important;
                margin-top: -100px;
                margin: auto;
                display: grid;
                margin-bottom: 60px;
            }
        }
        &--right{
            text-align: center;
            margin-left: 0px !important;
        }
    }
}
@media screen and (max-width:576px){
    #noFoundData{
        svg{
            width: 100% !important;
        }
    }
    .menu-links{
        justify-content: start !important;
    }
    .d-mobile-none{
        display: none;
    }
    .card-columns{
        column-count: 1 !important;
    }
    .landing-page{
        left: 0px !important;
        &--left{
            img{
                margin-top: -5px;
            }
        }
        &--right{
            margin-left:5px !important;
        }
    }
}
@media screen and (max-width:375px){

    .landing-page{
        &--right{
            h1{
                font-size: 35px;
            }
        }
    }
}
@media screen and (max-width:330px){
    .landing-page{
        &--left{
            img{
                margin-bottom: 45px;
            }
        }
        &--right{
            h1{
                font-size: 28px;
            }
            p{
                font-size: 18px !important;
            }
        }
    }
}
@media screen and (min-width:760px){
    .menu-links{
        justify-content: center;
    }
    
}
@media screen and (min-width:768px){
    #noFoundData{
        svg{
            width: 70% !important;
        }
    }
    .card-columns{
        column-count: 2 !important;
    }
    .landing-page{
        // left: 25px !important;
        
        justify-content: center;
        &--left{
            img{
                width: 80% !important;
                display: block;
                margin: auto;
                margin-bottom: 50px;
            }
        }

    }
}
@media screen and (min-width:992px){
    
    .card-columns{
        column-count: 3 !important;
    }
}

@media screen and (max-height:500px){
    #landingSection {
        height: 220vh !important;
    }
}

@media screen and (max-width: 320px) and (max-height: 570px){
    #landingSection {
        height: 100vh !important;
    }
}